.editPanel {
    width: 100%;
    height: calc(100vh - 60px);
    background-color: #252525;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

.editPanelTitleRow {
    width: 100%;
    justify-content: flex-start;
}

.editPanelTitle {
    padding: 0px;
    padding: 5px;
    padding-left: 10px;
    margin: 0px;
    color: #ffca28;
    width: 100%;
    background-color: #4e4e4e;
    font-size: 20px;
}

.editPanelContent {
    height: calc(100vh - 60px - 85px);
}

.editPanelRefreshIcon {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 0px;
    padding-bottom: 0px;
}
