.readerContainer {
    padding: 0;
    width: 100%;
}

.readerHeader {
    padding: 0px;
    padding: 5px;
    padding-left: 10px;
    margin: 0px;
    color: #ffca28;
    width: 100%;
    background-color: #4e4e4e;
    font-size: 20px;
}

.kafkaReaderIcon {
    margin: 0px;
    padding: 0px;
    padding-right: 10px;
}

.menuIcon {
    margin-right: 30px;
}

.disabledIcon {
    color: gray;
}

.readerContents {
    padding: 10px;
}

.customTopicText {
    margin-right: 10px;
}

.topicBrowser {
    width: 325px;
    background-color: #333;
    color: white;
    padding: 5px;
}

.topicTable {
    width: 100%;
}
