.coinsRow {
    padding-top: 5px;
}

.plusIcon {
    margin-left: 15px;
    padding-right: 5px;
}

.configTextField {
    background-color: lightgray;
    padding-left: 0px;
    padding-right: 0px;
}

.hidden {
    visibility: hidden;
}
